/* party people */

#party {
    text-align: center;
}

//.party-rows {
//    @media (min-width: 768px) {
//        width: 258px;
//    }
//
//    @media (min-width: 992px) {
//        width: 350px;
//    }
//    
//    @media (min-width: 1200px) {
//        width: 438px;
//    }
//}

#bride-tribe, #groom-crew {
    width: 49%;
    display: inline-block;
    float: left;
}

.party-name {
    font-size: 10pt;
    font-weight: 600;
    margin: 10px 0px 0px;
    
    .party-last-name {
        display: none;
        
        @media (max-width: 767px) {
            font-size: 9pt;
        }
    }
}

.party-title {
    font-size: 9pt;
    font-weight: 300;
    
    @media (max-width: 767px) {
        font-size: 8pt;
    }
}

.party-face {
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.party-rows {
    .party-person {
        display: inline-block;
        width: 44%;
        margin: 3%;
        
        .party-name {
            margin-bottom: 10px;
            display: none;
        }

        .party-title {
            display: none;
        }
        
        .party-face {
            border: 3px solid white;
            border-radius: 3px;
            
            &:hover {
                border-color: $orange;
            }
        }
    }
}

.party-story {
    height: 110px;
    font-weight: 200;
    font-size: 12pt;
    text-align: justify;
    
    @media (min-width: 768px) {
        font-size: 10pt;
    }
    
    @media (min-width: 992px) {
        font-size: 11pt;
    }
    
    @media (min-width: 1200px) {
        font-size: 12pt;
    }
}

.party-person {
    &.active {
        .party-face {
            border-color: $teal;
        }
    }
}

#party-selected {
    margin-bottom: 30px;
    
    .party-face {
        width: 200px;
        height: 200px;
        margin: auto;
        border: 4px solid $teal;
        border-radius: 50%;
        margin-bottom: 10px;
        
        &:hover {
            border-color: $orange;
        }
    }
    
    .party-name, .party-title {
        text-transform: uppercase;
    }
}

/* Bridesmaids */
/* Aliisa */
#party-aliisa {
    .party-face {
        background-image: url("../images/wedding-party/bride-tribe/aliisa.jpg");
    }
}

#party-selected[data-who="aliisa"] {
    .party-face {
        background-image: url("../images/wedding-party/bride-tribe/aliisa.jpg");
        &:hover {
            background-image: url("../images/wedding-party/bride-tribe/aliisa2.jpg");
        }
    }
}

/* Amalia */
#party-amalia {
    .party-face {
        background-image: url("../images/wedding-party/bride-tribe/amalia.jpg");
    }
}

#party-selected[data-who="amalia"] {
    .party-face {
        background-image: url("../images/wedding-party/bride-tribe/amalia.jpg");
        &:hover {
            background-image: url("../images/wedding-party/bride-tribe/amalia2.jpg");
        }
    }
}

/* Annika */
#party-annika {
    .party-face {
        background-image: url("../images/wedding-party/bride-tribe/annika.jpg");
    }
}

#party-selected[data-who="annika"] {
    .party-face {
        background-image: url("../images/wedding-party/bride-tribe/annika.jpg");
        &:hover {
            //background-image: url("../images/wedding-party/bride-tribe/annika2.jpg");
        }
    }
}

/* Avelina */
#party-avelina {
    .party-face {
        background-image: url("../images/wedding-party/bride-tribe/avi.jpg");
    }
}

#party-selected[data-who="avelina"] {
    .party-face {
        background-image: url("../images/wedding-party/bride-tribe/avi.jpg");
        &:hover {
            background-image: url("../images/wedding-party/bride-tribe/avi-yupi.jpg");
        }
    }
}

/* Emily */
#party-emily {
    .party-face {
        background-image: url("../images/wedding-party/bride-tribe/emily.jpg");
    }
}

#party-selected[data-who="emily"] {
    .party-face {
        background-image: url("../images/wedding-party/bride-tribe/emily.jpg");
        &:hover {
            //background-image: url("../images/wedding-party/bride-tribe/emily2.jpg");
        }
    }
}

/* Alissa */
#party-alissa {
    .party-face {
        background-image: url("../images/wedding-party/bride-tribe/alissa.jpg");
    }
}

#party-selected[data-who="alissa"] {
    .party-face {
        background-image: url("../images/wedding-party/bride-tribe/alissa.jpg");
        &:hover {
            //background-image: url("../images/wedding-party/bride-tribe/alissa2.jpg");
        }
    }
}

#party-miriam {
    .party-face {
        background-image: url("../images/wedding-party/bride-tribe/miriam.jpg");
    }
}

/* Miriam */
#party-selected[data-who="miriam"] {
    .party-face {
        background-image: url("../images/wedding-party/bride-tribe/miriam.jpg");
        &:hover {
            //background-image: url("../images/wedding-party/bride-tribe/mir2.jpg");
        }
    }
}

/* Naomi */
#party-naomi {
    .party-face {
        background-image: url("../images/wedding-party/bride-tribe/naomi.jpg");
    }
}

#party-selected[data-who="naomi"] {
    .party-face {
        background-image: url("../images/wedding-party/bride-tribe/naomi.jpg");
        &:hover {
            background-image: url("../images/wedding-party/bride-tribe/naomi2.jpg");
        }
    }
}

/* Groomsmen */
/* Josh */
#party-josh {
    .party-face {
        background-image: url("../images/wedding-party/groom-crew/josh.jpg");
    }
}

#party-selected[data-who="josh"] {
    .party-face {
        background-image: url("../images/wedding-party/groom-crew/josh.jpg");
        &:hover {
            background-image: url("../images/wedding-party/groom-crew/josh2.jpg");
        }
    }
}

/* Daniel */
#party-daniel {
    .party-face {
        background-image: url("../images/wedding-party/groom-crew/daniel.jpg");
    }
}

#party-selected[data-who="daniel"] {
    .party-face {
        background-image: url("../images/wedding-party/groom-crew/daniel.jpg");
        &:hover {
            //background-image: url("../images/wedding-party/groom-crew/daniel2.jpg");
        }
    }
}

#party-andrew {
    .party-face {
        background-image: url("../images/wedding-party/groom-crew/andrew.jpg");
    }
}

/* Andrew */
#party-selected[data-who="andrew"] {
    .party-face {
        background-image: url("../images/wedding-party/groom-crew/andrew.jpg");
        &:hover {
            //background-image: url("../images/wedding-party/groom-crew/andrew2.jpg");
        }
    }
}

/* Billy */
#party-billy {
    .party-face {
        background-image: url("../images/wedding-party/groom-crew/billy.jpg");
    }
}

#party-selected[data-who="billy"] {
    .party-face {
        background-image: url("../images/wedding-party/groom-crew/billy.jpg");
        &:hover {
            //background-image: url("../images/wedding-party/groom-crew/billy2.jpg");
        }
    }
}

/* Robby */
#party-robby {
    .party-face {
        background-image: url("../images/wedding-party/groom-crew/robby.jpg");
    }
}

#party-selected[data-who="robby"] {
    .party-face {
        background-image: url("../images/wedding-party/groom-crew/robby.jpg");
        &:hover {
            //background-image: url("../images/wedding-party/groom-crew/robby2.jpg");
        }
    }
}

/* Ham */
#party-ham {
    .party-face {
        background-image: url("../images/wedding-party/groom-crew/ham.jpg");
    }
}

#party-selected[data-who="ham"] {
    .party-face {
        background-image: url("../images/wedding-party/groom-crew/ham.jpg");
        &:hover {
            background-image: url("../images/wedding-party/groom-crew/ham2.jpg");
        }
    }
}

/* Aleksi */
#party-aleksi {
    .party-face {
        background-image: url("../images/wedding-party/groom-crew/aleksi.jpg");
    }
}

#party-selected[data-who="aleksi"] {
    .party-face {
        background-image: url("../images/wedding-party/groom-crew/aleksi.jpg");
        &:hover {
            //background-image: url("../images/wedding-party/groom-crew/aleksi2.jpg");
        }
    }
}

/* Anders */
#party-anders {
    .party-face {
        background-image: url("../images/wedding-party/groom-crew/anders.jpg");
    }
}

#party-selected[data-who="anders"] {
    .party-face {
        background-image: url("../images/wedding-party/groom-crew/anders.jpg");
        &:hover {
            //background-image: url("../images/wedding-party/groom-crew/anders2.jpg");
        }
    }
}

