/* party people */

#party {
    text-align: center;
}

.party-rows {
    .party-person {
        padding: 0px;
    }
}

.party-name {
    font-size: 10pt;
    font-weight: 600;
    margin: 10px 0px 0px;
    
    .party-last-name {
        display: none;
        
        @media (max-width: 767px) {
            font-size: 9pt;
        }
    }
}

.party-title {
    font-size: 9pt;
    font-weight: 300;
    
    @media (max-width: 767px) {
        font-size: 8pt;
    }
}

.party-face {
    padding-bottom: 60%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.party-rows {
    .party-person {
        .party-name {
            margin-bottom: 10px;
            display: none;
        }

        .party-title {
            display: none;
        }
        
        .party-face {
            border: 3px solid white;
            border-radius: 3px;
            
            &:hover {
                border-color: $orange;
            }
        }
    }
}

.party-story {
//    height: 110px;
    font-weight: 200;
    font-size: 12pt;
}

.party-person {
    &.active {
        .party-face {
            border-color: $teal;
        }
    }
}

#bride-tribe-wrapper, #groom-crew-wrapper {
    display: inline-block;
}

.party-selected-bride, .party-selected-groom {
    margin-bottom: 30px;
    padding: 0px;
    
    .party-face {
        margin: auto;
        width: 90%;
        padding-bottom: 90%;
        border: 4px solid $teal;
        border-radius: 50%;
        margin-bottom: 10px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-user-select: none;
        -webkit-touch-callout: none; 
        
        &:hover, &.hover {
            border-color: $orange;
        }
    }
    
    .party-name, .party-title {
        text-transform: uppercase;
    }
}

/* Bridesmaids */
/* Aliisa */
#party-aliisa {
    .party-face {
        background-image: url("../images/wedding-party/bride-tribe/aliisa.jpg");
    }
}

.party-selected-bride[data-who="aliisa"] {
    .party-face {
        background-image: url("../images/wedding-party/bride-tribe/aliisa.jpg");
        &:hover, &.hover {
            background-image: url("../images/wedding-party/bride-tribe/aliisa2.jpg");
        }
    }
}

/* Amalia */
#party-amalia {
    .party-face {
        background-image: url("../images/wedding-party/bride-tribe/amalia.jpg");
    }
}

.party-selected-bride[data-who="amalia"] {
    .party-face {
        background-image: url("../images/wedding-party/bride-tribe/amalia.jpg");
        &:hover {
            background-image: url("../images/wedding-party/bride-tribe/amalia2.jpg");
        }
    }
}

/* Annika */
#party-annika {
    .party-face {
        background-image: url("../images/wedding-party/bride-tribe/annika.jpg");
    }
}

.party-selected-bride[data-who="annika"] {
    .party-face {
        background-image: url("../images/wedding-party/bride-tribe/annika.jpg");
        &:hover, &.hover {
            //background-image: url("../images/wedding-party/bride-tribe/annika2.jpg");
        }
    }
}

/* Avelina */
#party-avelina {
    .party-face {
        background-image: url("../images/wedding-party/bride-tribe/avi.jpg");
    }
}

.party-selected-bride[data-who="avelina"] {
    .party-face {
        background-image: url("../images/wedding-party/bride-tribe/avi.jpg");
        &:hover, &.hover {
            background-image: url("../images/wedding-party/bride-tribe/avi-yupi.jpg");
        }
    }
}

/* Emily */
#party-emily {
    .party-face {
        background-image: url("../images/wedding-party/bride-tribe/emily.jpg");
    }
}

.party-selected-bride[data-who="emily"] {
    .party-face {
        background-image: url("../images/wedding-party/bride-tribe/emily.jpg");
        &:hover, &.hover {
            background-image: url("../images/wedding-party/bride-tribe/emily2.jpg");
        }
    }
}

/* Alissa */
#party-alissa {
    .party-face {
        background-image: url("../images/wedding-party/bride-tribe/alissa.jpg");
    }
}

.party-selected-bride[data-who="alissa"] {
    .party-face {
        background-image: url("../images/wedding-party/bride-tribe/alissa.jpg");
        &:hover, &.hover {
            //background-image: url("../images/wedding-party/bride-tribe/alissa2.jpg");
        }
    }
}

#party-miriam {
    .party-face {
        background-image: url("../images/wedding-party/bride-tribe/miriam.jpg");
    }
}

/* Miriam */
.party-selected-bride[data-who="miriam"] {
    .party-face {
        background-image: url("../images/wedding-party/bride-tribe/miriam.jpg");
        &:hover, &.hover {
            background-image: url("../images/wedding-party/bride-tribe/miriam2.jpg");
        }
    }
}

/* Naomi */
#party-naomi {
    .party-face {
        background-image: url("../images/wedding-party/bride-tribe/naomi2.jpg");
    }
}

.party-selected-bride[data-who="naomi"] {
    .party-face {
        background-image: url("../images/wedding-party/bride-tribe/naomi2.jpg");
        &:hover, &.hover {
            background-image: url("../images/wedding-party/bride-tribe/naomi.jpg");
        }
    }
}

/* Ellie */
#party-ellie {
    .party-face {
        background-image: url("../images/wedding-party/bride-tribe/ellie.jpg");
    }
}

.party-selected-bride[data-who="ellie"] {
    .party-face {
        background-image: url("../images/wedding-party/bride-tribe/ellie.jpg");
        &:hover, &.hover {
            background-image: url("../images/wedding-party/bride-tribe/ellie2.jpg");
        }
    }
}

/* Groomsmen */
/* Josh */
#party-josh {
    .party-face {
        background-image: url("../images/wedding-party/groom-crew/josh.jpg");
    }
}

.party-selected-groom[data-who="josh"] {
    .party-face {
        background-image: url("../images/wedding-party/groom-crew/josh.jpg");
        &:hover, &.hover {
            background-image: url("../images/wedding-party/groom-crew/josh2.jpg");
        }
    }
}

/* Daniel */
#party-daniel {
    .party-face {
        background-image: url("../images/wedding-party/groom-crew/daniel.jpg");
    }
}

.party-selected-groom[data-who="daniel"] {
    .party-face {
        background-image: url("../images/wedding-party/groom-crew/daniel.jpg");
        &:hover, &.hover {
            //background-image: url("../images/wedding-party/groom-crew/daniel2.jpg");
        }
    }
}

#party-andrew {
    .party-face {
        background-image: url("../images/wedding-party/groom-crew/andrew.jpg");
    }
}

/* Andrew */
.party-selected-groom[data-who="andrew"] {
    .party-face {
        background-image: url("../images/wedding-party/groom-crew/andrew.jpg");
        &:hover, &.hover {
            background-image: url("../images/wedding-party/groom-crew/andrew3.jpg");
        }
    }
}

/* Billy */
#party-billy {
    .party-face {
        background-image: url("../images/wedding-party/groom-crew/billy2.jpg");
    }
}

.party-selected-groom[data-who="billy"] {
    .party-face {
        background-image: url("../images/wedding-party/groom-crew/billy2.jpg");
        &:hover, &.hover, &.hover {
            background-image: url("../images/wedding-party/groom-crew/billy.jpg");
        }
    }
}

/* Robby */
#party-robby {
    .party-face {
        background-image: url("../images/wedding-party/groom-crew/robby.jpg");
    }
}

.party-selected-groom[data-who="robby"] {
    .party-face {
        background-image: url("../images/wedding-party/groom-crew/robby.jpg");
        &:hover, &.hover {
            //background-image: url("../images/wedding-party/groom-crew/robby2.jpg");
        }
    }
}

/* Ham */
#party-ham {
    .party-face {
        background-image: url("../images/wedding-party/groom-crew/ham.jpg");
    }
}

.party-selected-groom[data-who="ham"] {
    .party-face {
        background-image: url("../images/wedding-party/groom-crew/ham.jpg");
        &:hover, &.hover {
            background-image: url("../images/wedding-party/groom-crew/ham2.jpg");
        }
    }
}

/* Aleksi */
#party-aleksi {
    .party-face {
        background-image: url("../images/wedding-party/groom-crew/aleksi.jpg");
    }
}

.party-selected-groom[data-who="aleksi"] {
    .party-face {
        background-image: url("../images/wedding-party/groom-crew/aleksi.jpg");
        &:hover, &.hover {
            //background-image: url("../images/wedding-party/groom-crew/aleksi2.jpg");
        }
    }
}

/* Anders */
#party-anders {
    .party-face {
        background-image: url("../images/wedding-party/groom-crew/anders.jpg");
    }
}

.party-selected-groom[data-who="anders"] {
    .party-face {
        background-image: url("../images/wedding-party/groom-crew/anders.jpg");
        &:hover, &.hover {
            background-image: url("../images/wedding-party/groom-crew/anders2.jpg");
        }
    }
}

/* James */
#party-james {
    .party-face {
        background-image: url("../images/wedding-party/groom-crew/james.jpg");
    }
}

.party-selected-groom[data-who="james"] {
    .party-face {
        background-image: url("../images/wedding-party/groom-crew/james.jpg");
        &:hover, &.hover {
            background-image: url("../images/wedding-party/groom-crew/james2.jpg");
        }
    }
}

