/* tidbits */

#tidbits {
    #tidbits-intro {
        text-align: center;
        font-style: italic;
        font-weight: 200;
    }
    
    .img-wrapper {
        margin: 15px auto;
    }
    
    .tidbit-q,
    .tidbit-a {
        padding-left: 22px;
    }
    
    .tidbit-q {
        font-weight: 500;
        margin-top: 30px;
        
        &:first-of-type {
            margin-top: 0px;
        }
        
        &::before {
            content: "Q";
            font-size: 12pt;
            font-family: "Pillowbook";
            color: $teal;
            position: relative;
            top: 2px;
            margin-left: -30px;
            margin-right: 12px;
        }
        
        &:hover {
            cursor: pointer;
            
            &::before {
                color: $orange;
            }
        }
    }
    
    .tidbit-a {
        text-align: justify;
        display: none;
        
        &.tidbit-show {
            display: block;
        }
    }
}
