$teal: rgb(10, 87, 123); // #0a577b
$teal-light: #0E79AB; // #0a577b
$teal-lightest: #4694B9; // #0a577b
$teal-trans: rgba(10, 87, 123, 0.8);
$orange: rgb(242, 116, 66); // #f27442

/* main */

body {
    font-family: "Vollkorn", "Georgia", TimesNewRoman, serif;
    color: #555;
    font-size: 12pt;
}

h1 {
    font-family: "Pillowbook";
}

h2 {
    font-family: "Pillowbook";
    color: $teal;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

h3 {
    font-family: "Pillowbook";
    color: $teal-light;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 18px;
    text-align: center;
}

.orange {
    color: $orange;
}

a {
    color: $orange;
}

a:hover {
    color: $teal;
}

.info-section {
    padding-top: 50px;
    
    &::after {
        display: block;
        content: "";
        background: url("../images/DigitalGoldFoilGraphics/GoldFineMessyLine.png") no-repeat center;
        background-size: contain;
        min-height: 5px;
        margin: 50px auto 0px auto;
    }
    
    &.no-separator::after,
    &:last-of-type::after {
        display: block;
        content: "";
        background: none;
    }
    
    img {
        padding: 0px;
        width: 100%;
        height: auto;
    }
}

.img-wrapper {
    padding: 0px;
    float: none;
}

/* first letter drop */
.firstletter {
    font-family: "Pillowbook";
    float: left;
    color: $orange;
    font-size: 56px;
    line-height: 44px;
    padding-top: 16px;
    padding-right: 10px;
    /* padding-left: 3px; */
    font-weight: 300;
}

/* nav */
#wedding-menu.dropdown {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 100;
}

.dropdown-menu {
    background-color: rgba(255, 255, 255, 0.8);
    
    > li > a:hover {
        color: white;
        background-color: $teal;
        background-color: $teal-trans;
    }
    
    > .active > a,
    > .active > a:hover {
        background-color: $teal;
        background-color: $teal-trans;
    }
}

.dropdown.open #menu-label {
    display: inline-block;
}

.navbar-toggle {
    color: white;
    text-shadow: 1px 1px 1px $teal;
    display: block;
    
    .menu-bars {
        display: inline-block;
        margin-right: 10px;
        
        .icon-bar {
            height: 2px;
            border-radius: 1px;
            border: 1px solid white;
            box-shadow: 1px 1px 1px $teal;
        }
    }
    
    &:hover {
       .icon-bar {
            border-color: $orange;
            border-color: $teal;
        }
    }
    
    @media (max-width: 767px) {
        background: none;
        padding: 0px;
        margin: 0px;

        .icon-bar {
            border-color: $teal;
            box-shadow: none;
        }
        
        .menu-label {
            display: none;
        }
    }
}

/* welcome section */

#welcome {
    height: 100vh;
    overflow: hidden;
    color: white;
    padding: 0px;
    background-image: url("../images/AJ-engagement-141.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    h1 {
        position: fixed;
        display: inline;
        z-index: 10;
        bottom: 10%;
        left: 10%;
        text-shadow: 1px 1px 1px $teal;
    }
    
    .background {
        height: 100vh;
//        width: 100%;
//        background-image: url("../images/AJ-engagement-141.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: none;
        position: fixed;
    }
}

/* info */

#countdown {
    min-height: 500px;
    text-align: center;
    padding-top: 10px;
    
    img {
        padding: 20px 0px;
    }
    
    #top-names {
        margin-top: 20px;
        text-align: center;
        font-family: 'Pillowbook';
        font-size: 30pt;
        line-height: 50px;
        color: $teal;
        
        #top-names-and {
            color: $orange;
            //font-family: 'PillowbookOrnaments';
        }
    }
    
    #countdown-info-wrapper {
        margin: 20px auto;
        font-size: 14pt;
        
        #countdown-hrs-label,
        #countdown-min-label,
        #countdown-sec-label {
            display: none;
        }
    }
}

/* story */

#story {
    .img-wrapper {
        margin: 15px auto;
    }
}

/* venue */

#venue {
    .img-wrapper {
        margin: 30px auto;
    }
}

/* registry */

#registry {
    text-align: center;
    
    .registry-img {
        display: inline-block;
        margin-top: 20px;
        margin-bottom: 20px;
        
        img:hover {
            opacity: 0.5;
            transition: ease 0.3s;
        }
    }
}

/* tidbits */

#tidbits {
    #tidbits-intro {
        text-align: center;
        font-style: italic;
        font-weight: 100;
    }
    
    .img-wrapper {
        margin: 15px auto;
    }
}

/* thanks */

#thanks {
    .img-wrapper {
        float: left;
    }
    
    p {
        font-weight: 200;
        margin-bottom: 20px;
        
        &:last-of-type {
            margin-bottom: 0px;
        }
        
        .name {
            font-style: italic;
        }
    }
}

@import "tidbits";
@import "party-people";
@import "fonts";