/* main */
body { font-family: "BoosterNextFY", Helvetica, Arial, "Lucida Grande", sans-serif; font-weight: 300; color: #555; font-size: 12pt; }

h1 { font-family: "JandaElegantHandwriting"; }

h2 { font-family: "JandaElegantHandwriting"; color: #2b6c5b; margin-top: 20px; margin-bottom: 20px; font-size: 24px; text-align: center; }

h3 { margin-top: 10px; }

a { color: #fd6223; }

a:hover { color: #2b6c5b; }

.info-section { padding-top: 50px; }
.info-section::after { display: block; content: ""; background: url("../images/DigitalGoldFoilGraphics/GoldFineMessyLine.png") no-repeat center; background-size: contain; min-height: 5px; margin: 50px auto 0px auto; }
.info-section.no-separator::after, .info-section:last-of-type::after { display: block; content: ""; background: none; }
.info-section img { padding: 0px; width: 100%; height: auto; }

.img-wrapper { padding: 0px; float: none; }

/* first letter drop */
.firstletter { font-family: "JandaElegantHandwriting"; float: left; color: #2b6c5b; font-size: 64px; line-height: 43px; padding-top: 22px; padding-right: 10px; /* padding-left: 3px; */ font-weight: 300; }

/* nav */
#wedding-menu.dropdown { position: fixed; top: 20px; left: 20px; z-index: 100; }

.dropdown-menu { background-color: rgba(255, 255, 255, 0.8); }
.dropdown-menu > li > a:hover { background-color: #2b6c5b; background-color: rgba(43, 108, 91, 0.8); }
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover { background-color: #2b6c5b; background-color: rgba(43, 108, 91, 0.8); }

.dropdown.open #menu-label { display: inline-block; }

.navbar-toggle { color: white; text-shadow: 1px 1px 1px #2b6c5b; display: block; }
.navbar-toggle .menu-bars { display: inline-block; margin-right: 10px; }
.navbar-toggle .menu-bars .icon-bar { height: 2px; border-radius: 1px; border: 1px solid white; box-shadow: 1px 1px 1px #2b6c5b; }
.navbar-toggle:hover .icon-bar { border-color: #fd6223; border-color: #2b6c5b; }
@media (max-width: 767px) { .navbar-toggle { background: none; padding: 0px; margin: 0px; }
  .navbar-toggle .icon-bar { border-color: #2b6c5b; box-shadow: none; }
  .navbar-toggle .menu-label { display: none; } }

/* welcome section */
#welcome { height: 100vh; overflow: hidden; color: white; padding: 0px; background-image: url("../images/AJ-engagement-141.jpg"); background-repeat: no-repeat; background-position: center; background-size: cover; }
#welcome h1 { position: fixed; display: inline; z-index: 10; bottom: 10%; left: 10%; text-shadow: 1px 1px 1px #2b6c5b; }
#welcome .background { height: 100vh; background-repeat: no-repeat; background-position: center; background-size: cover; display: none; position: fixed; }

/* info */
#countdown { min-height: 500px; text-align: center; padding-top: 10px; }
#countdown img { padding: 20px 0px; }
#countdown #top-names { margin-top: 20px; text-align: center; font-family: 'Pillowbook'; font-size: 30pt; line-height: 40px; }
#countdown #top-names #top-names-and { font-family: 'PillowbookOrnaments'; }
#countdown #countdown-info-wrapper { margin: 20px auto; font-size: 14pt; }
#countdown #countdown-info-wrapper #countdown-hrs-label, #countdown #countdown-info-wrapper #countdown-min-label, #countdown #countdown-info-wrapper #countdown-sec-label { display: none; }

/* story */
#story .img-wrapper { margin: 15px auto; }

/* registry */
#registry { text-align: center; }

/* tidbits */
#tidbits #tidbits-intro { text-align: center; font-style: italic; font-weight: 100; }
#tidbits .img-wrapper { margin: 15px auto; }

/* thanks */
#thanks .img-wrapper { float: left; }
#thanks p { font-weight: 200; margin-bottom: 20px; }
#thanks p:last-of-type { margin-bottom: 0px; }
#thanks p .name { font-weight: 600; }

/* tidbits */
#tidbits .tidbit-q, #tidbits .tidbit-a { padding-left: 22px; }
#tidbits .tidbit-q { font-size: 12pt; font-weight: normal; margin-top: 30px; }
#tidbits .tidbit-q:first-of-type { margin-top: 0px; }
#tidbits .tidbit-q::before { content: "Q"; font-size: 14pt; font-family: "JandaElegantHandwriting"; color: #2b6c5b; position: relative; top: 2px; margin-left: -30px; margin-right: 12px; }
#tidbits .tidbit-q:hover { cursor: pointer; }
#tidbits .tidbit-q:hover::before { color: #fd6223; }
#tidbits .tidbit-a { font-weight: 100; display: none; }
#tidbits .tidbit-a.tidbit-show { display: block; }

/* party people */
#party { text-align: center; }

#bride-tribe, #groom-crew { width: 49%; display: inline-block; float: left; }

.party-name { font-size: 10pt; font-weight: 600; margin: 10px 0px 0px; }
.party-name .party-last-name { display: none; }
@media (max-width: 767px) { .party-name .party-last-name { font-size: 9pt; } }

.party-title { font-size: 9pt; font-weight: 300; }
@media (max-width: 767px) { .party-title { font-size: 8pt; } }

.party-face { height: 120px; background-repeat: no-repeat; background-position: center; background-size: cover; }

.party-rows .party-person { display: inline-block; width: 44%; margin: 3%; }
.party-rows .party-person .party-name { margin-bottom: 10px; display: none; }
.party-rows .party-person .party-title { display: none; }
.party-rows .party-person .party-face { border: 3px solid white; border-radius: 3px; }
.party-rows .party-person .party-face:hover { border-color: #fd6223; }

.party-story { height: 110px; font-weight: 100; font-size: 12pt; }
@media (min-width: 768px) { .party-story { font-size: 10pt; } }
@media (min-width: 992px) { .party-story { font-size: 11pt; } }
@media (min-width: 1200px) { .party-story { font-size: 12pt; } }

.party-person.active .party-face { border-color: #2b6c5b; }

#party-selected { margin-bottom: 30px; }
#party-selected .party-face { width: 200px; height: 200px; margin: auto; border: 4px solid #2b6c5b; border-radius: 50%; margin-bottom: 10px; }
#party-selected .party-face:hover { border-color: #fd6223; }

/* Bridesmaids */
/* Aliisa */
#party-aliisa .party-face { background-image: url("../images/wedding-party/bride-tribe/aliisa.jpg"); }

#party-selected[data-who="aliisa"] .party-face { background-image: url("../images/wedding-party/bride-tribe/aliisa.jpg"); }
#party-selected[data-who="aliisa"] .party-face:hover { background-image: url("../images/wedding-party/bride-tribe/aliisa2.jpg"); }
#party-selected[data-who="aliisa"] .party-name::before { content: "Aliisa Lee"; text-transform: uppercase; }
#party-selected[data-who="aliisa"] .party-title::before { content: "bride"; text-transform: uppercase; }
#party-selected[data-who="aliisa"] .party-story::before { content: "She's getting married!"; }

/* Amalia */
#party-amalia .party-face { background-image: url("../images/wedding-party/bride-tribe/amalia.jpg"); }

#party-selected[data-who="amalia"] .party-face { background-image: url("../images/wedding-party/bride-tribe/amalia.jpg"); }
#party-selected[data-who="amalia"] .party-face:hover { background-image: url("../images/wedding-party/bride-tribe/amalia2.jpg"); }
#party-selected[data-who="amalia"] .party-name::before { content: "Amalia Lee"; text-transform: uppercase; }
#party-selected[data-who="amalia"] .party-title::before { content: "medium sister"; text-transform: uppercase; }
#party-selected[data-who="amalia"] .party-story::before { content: "Amalia is Aliisa's medium-sister. Everyday, she is good at singing, drawing cute tiny beavers, and doing science. Years ago, Aliisa and Amalia signed a contract that says they can never be mad at each other for more than five seconds."; }

/* Annika */
#party-annika .party-face { background-image: url("../images/wedding-party/bride-tribe/annika.jpg"); }

#party-selected[data-who="annika"] .party-face { background-image: url("../images/wedding-party/bride-tribe/annika.jpg"); }
#party-selected[data-who="annika"] .party-name::before { content: "Annika Lee"; text-transform: uppercase; }
#party-selected[data-who="annika"] .party-title::before { content: "big sister"; text-transform: uppercase; }
#party-selected[data-who="annika"] .party-story::before { content: "Annika is Aliisa's little big sister. She is amazing at drawing, speaking Japanese, and having information about everything. Annika is in charge of sending Aliisa art inspiration, interesting news, and pictures of other people's dogs."; }

/* Avelina */
#party-avelina .party-face { background-image: url("../images/wedding-party/bride-tribe/avi.jpg"); }

#party-selected[data-who="avelina"] .party-face { background-image: url("../images/wedding-party/bride-tribe/avi.jpg"); }
#party-selected[data-who="avelina"] .party-face:hover { background-image: url("../images/wedding-party/bride-tribe/avi-yupi.jpg"); }
#party-selected[data-who="avelina"] .party-name::before { content: "Avelina Lee"; text-transform: uppercase; }
#party-selected[data-who="avelina"] .party-title::before { content: "little sister"; text-transform: uppercase; }
#party-selected[data-who="avelina"] .party-story::before { content: "Avelina (or Avi) is Aliisa's littlest sister. She is a world-class baker, hair-expert, linguist, and baby boss. Avi's love for Aliisa -- expressed by giving her food and cuddles -- is only surpassed by Avi's love for her cat, Yupi."; }

/* Emily */
#party-emily .party-face { background-image: url("../images/wedding-party/bride-tribe/emily.jpg"); }

#party-selected[data-who="emily"] .party-face { background-image: url("../images/wedding-party/bride-tribe/emily.jpg"); }
#party-selected[data-who="emily"] .party-name::before { content: "Emily Lee"; text-transform: uppercase; }
#party-selected[data-who="emily"] .party-title::before { content: "sister-in-law, the first"; text-transform: uppercase; }
#party-selected[data-who="emily"] .party-story::before { content: "Aliisa got a new sister when Emily married Anders in 2015! Emily is a coder, photographer, and perfect blend of creativity and organization. Emily is also a fun lifeline of sanity and Pinterest ideas when Aliisa desperately texts her for life help."; }

/* Alissa */
#party-alissa .party-face { background-image: url("../images/wedding-party/bride-tribe/alissa.jpg"); }

#party-selected[data-who="alissa"] .party-face { background-image: url("../images/wedding-party/bride-tribe/alissa.jpg"); }
#party-selected[data-who="alissa"] .party-name::before { content: "Alissa Hopper"; text-transform: uppercase; }
#party-selected[data-who="alissa"] .party-title::before { content: "sister-in-love"; text-transform: uppercase; }
#party-selected[data-who="alissa"] .party-story::before { content: "Alissa is the sister Aliisa found at college! Alissa is a beautiful singer, a dog-whisperer, baby-whisperer. Aliisa and Alissa have oddly similar mannerisms and names, and we are bonded for life because of it."; }

#party-miriam .party-face { background-image: url("../images/wedding-party/bride-tribe/miriam.jpg"); }

/* Miriam */
#party-selected[data-who="miriam"] .party-face { background-image: url("../images/wedding-party/bride-tribe/miriam.jpg"); }
#party-selected[data-who="miriam"] .party-name::before { content: "Miriam Black"; text-transform: uppercase; }
#party-selected[data-who="miriam"] .party-title::before { content: "sister-in-law-to-be"; text-transform: uppercase; }
#party-selected[data-who="miriam"] .party-story::before { content: "Miriam is basically Aliisa's sister already. She Neuroscience, mice brains, crafts, Ellie. Mir-mom"; }

/* Naomi */
#party-naomi .party-face { background-image: url("../images/wedding-party/bride-tribe/naomi.jpg"); }

#party-selected[data-who="naomi"] .party-face { background-image: url("../images/wedding-party/bride-tribe/naomi.jpg"); }
#party-selected[data-who="naomi"] .party-face:hover { background-image: url("../images/wedding-party/bride-tribe/naomi2.jpg"); }
#party-selected[data-who="naomi"] .party-name::before { content: "Naomi Boyce"; text-transform: uppercase; }
#party-selected[data-who="naomi"] .party-title::before { content: "sister-in-law-to-be"; text-transform: uppercase; }
#party-selected[data-who="naomi"] .party-story::before { content: "Naomi social worker, sporty, James..."; }

/* Groomsmen */
/* Josh */
#party-josh .party-face { background-image: url("../images/wedding-party/groom-crew/josh.jpg"); }

#party-selected[data-who="josh"] .party-face { background-image: url("../images/wedding-party/groom-crew/josh.jpg"); }
#party-selected[data-who="josh"] .party-face:hover { background-image: url("../images/wedding-party/groom-crew/josh2.jpg"); }
#party-selected[data-who="josh"] .party-name::before { content: "Joshua Bocarsly"; text-transform: uppercase; }
#party-selected[data-who="josh"] .party-title::before { content: "groom"; text-transform: uppercase; }
#party-selected[data-who="josh"] .party-story::before { content: "He's getting married!"; }

/* Daniel */
#party-daniel .party-face { background-image: url("../images/wedding-party/groom-crew/daniel.jpg"); }

#party-selected[data-who="daniel"] .party-face { background-image: url("../images/wedding-party/groom-crew/daniel.jpg"); }
#party-selected[data-who="daniel"] .party-name::before { content: "Daniel Hwang"; text-transform: uppercase; }
#party-selected[data-who="daniel"] .party-title::before { content: "basically a brother"; text-transform: uppercase; }
#party-selected[data-who="daniel"] .party-story::before { content: "Music, cooking..."; }

#party-andrew .party-face { background-image: url("../images/wedding-party/groom-crew/andrew.jpg"); }

/* Andrew */
#party-selected[data-who="andrew"] .party-face { background-image: url("../images/wedding-party/groom-crew/andrew.jpg"); }
#party-selected[data-who="andrew"] .party-name::before { content: "Andrew Black"; text-transform: uppercase; }
#party-selected[data-who="andrew"] .party-title::before { content: "brother-in-law"; text-transform: uppercase; }
#party-selected[data-who="andrew"] .party-story::before { content: "Cello, singing, politics, law school..."; }

/* Billy */
#party-billy .party-face { background-image: url("../images/wedding-party/groom-crew/billy.jpg"); }

#party-selected[data-who="billy"] .party-face { background-image: url("../images/wedding-party/groom-crew/billy.jpg"); }
#party-selected[data-who="billy"] .party-name::before { content: "Billy Boyce"; text-transform: uppercase; }
#party-selected[data-who="billy"] .party-title::before { content: "brother-in-law"; text-transform: uppercase; }
#party-selected[data-who="billy"] .party-story::before { content: "Crew coach, eclectic music tastes..."; }

/* Robby */
#party-robby .party-face { background-image: url("../images/wedding-party/groom-crew/robby.jpg"); }

#party-selected[data-who="robby"] .party-face { background-image: url("../images/wedding-party/groom-crew/robby.jpg"); }
#party-selected[data-who="robby"] .party-name::before { content: "Robby Siliciano"; text-transform: uppercase; }
#party-selected[data-who="robby"] .party-title::before { content: "friend"; text-transform: uppercase; }
#party-selected[data-who="robby"] .party-story::before { content: "Economics, playing dark souls, beard... Insists josh is criminal justice major."; }

/* Ham */
#party-ham .party-face { background-image: url("../images/wedding-party/groom-crew/ham.jpg"); }

#party-selected[data-who="ham"] .party-face { background-image: url("../images/wedding-party/groom-crew/ham.jpg"); }
#party-selected[data-who="ham"] .party-face:hover { background-image: url("../images/wedding-party/groom-crew/ham2.jpg"); }
#party-selected[data-who="ham"] .party-name::before { content: "Josh Hamilton"; text-transform: uppercase; }
#party-selected[data-who="ham"] .party-title::before { content: "friend, fellow Josh"; text-transform: uppercase; }
#party-selected[data-who="ham"] .party-story::before { content: "Counting fish, doctor, ROTC..."; }

/* Aleksi */
#party-aleksi .party-face { background-image: url("../images/wedding-party/groom-crew/aleksi.jpg"); }

#party-selected[data-who="aleksi"] .party-face { background-image: url("../images/wedding-party/groom-crew/aleksi.jpg"); }
#party-selected[data-who="aleksi"] .party-name::before { content: "Aleksi Lee"; text-transform: uppercase; }
#party-selected[data-who="aleksi"] .party-title::before { content: "brother-in-law-to-be"; text-transform: uppercase; }
#party-selected[data-who="aleksi"] .party-story::before { content: "Neuroscience..."; }

/* Anders */
#party-anders .party-face { background-image: url("../images/wedding-party/groom-crew/anders.jpg"); }

#party-selected[data-who="anders"] .party-face { background-image: url("../images/wedding-party/groom-crew/anders.jpg"); }
#party-selected[data-who="anders"] .party-name::before { content: "Anders Lee"; text-transform: uppercase; }
#party-selected[data-who="anders"] .party-title::before { content: "brother-in-law-to-be"; text-transform: uppercase; }
#party-selected[data-who="anders"] .party-story::before { content: "Guitar, electrical engineering, cooking..."; }

/* fonts */
/* BoosterNextFY */
@font-face { font-family: 'BoosterNextFY'; src: url("fonts/booster-next/Black/BoosterNextFY-Black.eot"); src: url("fonts/booster-next/Black/BoosterNextFY-Black.eot?#iefix") format("embedded-opentype"), url("fonts/booster-next/Black/BoosterNextFY-Black.woff") format("woff"), url("fonts/booster-next/Black/BoosterNextFY-Black.ttf") format("truetype"), url("fonts/booster-next/Black/BoosterNextFY-Black.svg#Booster Next FY Black") format("svg"); font-weight: 900; font-style: normal; }
@font-face { font-family: 'BoosterNextFY'; src: url("fonts/booster-next/Bold/BoosterNextFY-Bold.eot"); src: url("fonts/booster-next/Bold/BoosterNextFY-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/booster-next/Bold/BoosterNextFY-Bold.woff") format("woff"), url("fonts/booster-next/Bold/BoosterNextFY-Bold.ttf") format("truetype"), url("fonts/booster-next/Bold/BoosterNextFY-Bold.svg#Booster Next FY Bold") format("svg"); font-weight: bold; font-style: normal; }
@font-face { font-family: 'BoosterNextFY'; src: url("fonts/booster-next/Medium/BoosterNextFY-Medium.eot"); src: url("fonts/booster-next/Medium/BoosterNextFY-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/booster-next/Medium/BoosterNextFY-Medium.woff") format("woff"), url("fonts/booster-next/Medium/BoosterNextFY-Medium.ttf") format("truetype"), url("fonts/booster-next/Medium/BoosterNextFY-Medium.svg#Booster Next FY Medium") format("svg"); font-weight: 600; font-style: normal; }
@font-face { font-family: 'BoosterNextFY'; src: url("fonts/booster-next/Regular/BoosterNextFY-Regular.eot"); src: url("fonts/booster-next/Regular/BoosterNextFY-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/booster-next/Regular/BoosterNextFY-Regular.woff") format("woff"), url("fonts/booster-next/Regular/BoosterNextFY-Regular.ttf") format("truetype"), url("fonts/booster-next/Regular/BoosterNextFY-Regular.svg#Booster Next FY Regular") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'BoosterNextFY'; src: url("fonts/booster-next/Light/BoosterNextFY-Light.eot"); src: url("fonts/booster-next/Light/BoosterNextFY-Light.eot?#iefix") format("embedded-opentype"), url("fonts/booster-next/Light/BoosterNextFY-Light.woff") format("woff"), url("fonts/booster-next/Light/BoosterNextFY-Light.ttf") format("truetype"), url("fonts/booster-next/Light/BoosterNextFY-Light.svg#Booster Next FY Light") format("svg"); font-weight: 300; font-style: normal; }
@font-face { font-family: 'BoosterNextFY'; src: url("fonts/booster-next/Thin/BoosterNextFY-Thin.eot"); src: url("fonts/booster-next/Thin/BoosterNextFY-Thin.eot?#iefix") format("embedded-opentype"), url("fonts/booster-next/Thin/BoosterNextFY-Thin.woff") format("woff"), url("fonts/booster-next/Thin/BoosterNextFY-Thin.ttf") format("truetype"), url("fonts/booster-next/Thin/BoosterNextFY-Thin.svg#Booster Next FY Thin") format("svg"); font-weight: 100; font-style: normal; }
/* Champagne and Limousines */
@font-face { font-family: 'Champagne&Limousines'; src: url("fonts/champagne-limousines/champagnelimousines-webfont.eot"); src: url("fonts/champagne-limousines/champagnelimousines-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/champagne-limousines/champagnelimousines-webfont.woff") format("woff"), url("fonts/champagne-limousines/champagnelimousines-webfont.ttf") format("truetype"), url("fonts/champagne-limousines/champagnelimousines-webfont.svg#champagne__limousinesregular") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Champagne&LimousinesBold'; src: url("fonts/champagne-limousines/champagnelimousinesbold-webfont.eot"); src: url("fonts/champagne-limousines/champagnelimousinesbold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/champagne-limousines/champagnelimousinesbold-webfont.woff") format("woff"), url("fonts/champagne-limousines/champagnelimousinesbold-webfont.ttf") format("truetype"), url("fonts/champagne-limousines/champagnelimousinesbold-webfont.svg#champagne__limousinesbold") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Champagne&LimousinesItalic'; src: url("fonts/champagne-limousines/champagnelimousinesitalic-webfont.eot"); src: url("fonts/champagne-limousines/champagnelimousinesitalic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/champagne-limousines/champagnelimousinesitalic-webfont.woff") format("woff"), url("fonts/champagne-limousines/champagnelimousinesitalic-webfont.ttf") format("truetype"), url("fonts/champagne-limousines/champagnelimousinesitalic-webfont.svg#champagne__limousinesitalic") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Champagne&LimousinesBoldItalic'; src: url("fonts/champagne-limousines/champagnelimousinesbolditalic-webfont.eot"); src: url("fonts/fonts/champagne-limousines/champagnelimousinesbolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/champagne-limousines/champagnelimousinesbolditalic-webfont.woff") format("woff"), url("fonts/fonts/champagne-limousines/champagnelimousinesbolditalic-webfont.ttf") format("truetype"), url("fonts/champagne-limousines/champagnelimousinesbolditalic-webfont.svg#champagne__limousinesBdIt") format("svg"); font-weight: normal; font-style: normal; }
/* Janda Elegant Handwriting */
@font-face { font-family: 'JandaElegantHandwriting'; src: url("fonts/janda-elegant/jandaeleganthandwriting-webfont.woff") format("woff"), url("fonts/janda-elegant/JandaElegantHandwriting.ttf") format("truetype"); font-weight: normal; font-style: normal; }
/* Pillowbook */
@font-face { font-family: 'Pillowbook'; src: url("fonts/pillowbook/pillowbook-regular/pillowbook-regular-webfont.eot"); src: url("fonts/pillowbook/pillowbook-regular/pillowbook-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/pillowbook/pillowbook-regular/pillowbook-regular-webfont.woff") format("woff"), url("fonts/pillowbook/pillowbook-regular/pillowbook-regular-webfont.ttf") format("truetype"), url("fonts/pillowbook/pillowbook-regular/pillowbook-regular-webfont.svg#pillowbookregular") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'PillowbookOrnaments'; src: url("fonts/pillowbook/pillowbook-ornaments/pillowbook-ornaments-webfont.eot"); src: url("fonts/pillowbook/pillowbook-ornaments/pillowbook-ornaments-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/pillowbook/pillowbook-ornaments/pillowbook-ornaments-webfont.woff") format("woff"), url("fonts/pillowbook/pillowbook-ornaments/pillowbook-ornaments-webfont.ttf") format("truetype"), url("fonts/pillowbook/pillowbook-ornaments/pillowbook-ornaments-webfont.svg#pillowbook_ornaments") format("svg"); font-weight: normal; font-style: normal; }
/* SUNN */
@font-face { font-family: 'SUNN'; src: url("fonts/sunn/sunn-webfont.woff") format("woff"), url("fonts/sunn/SUNN.otf") format("opentype"); font-weight: normal; font-style: normal; }
