/* Andes */

@font-face {
    font-family: 'Andes';
    src: url('fonts/andes/Andes-UltraLight-webfont.eot');
    src: url('fonts/andes/Andes-UltraLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/andes/Andes-UltraLight-webfont.woff2') format('woff2'),
         url('fonts/andes/Andes-UltraLight-webfont.woff') format('woff'),
         url('fonts/andes/Andes-UltraLight-webfont.ttf') format('truetype'),
         url('fonts/andes/Andes-UltraLight-webfont.svg') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Andes';
    src: url('fonts/andes/Andes-ExtraLight-webfont.eot');
    src: url('fonts/andes/Andes-ExtraLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/andes/Andes-ExtraLight-webfont.woff2') format('woff2'),
         url('fonts/andes/Andes-ExtraLight-webfont.woff') format('woff'),
         url('fonts/andes/Andes-ExtraLight-webfont.ttf') format('truetype'),
         url('fonts/andes/Andes-ExtraLight-webfont.svg') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Andes';
    src: url('fonts/andes/Andes-Light-webfont.eot');
    src: url('fonts/andes/Andes-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/andes/Andes-Light-webfont.woff2') format('woff2'),
         url('fonts/andes/Andes-Light-webfont.woff') format('woff'),
         url('fonts/andes/Andes-Light-webfont.ttf') format('truetype'),
         url('fonts/andes/Andes-Light-webfont.svg') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Andes';
    src: url('fonts/andes/Andes-Regular-webfont.eot');
    src: url('fonts/andes/Andes-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/andes/Andes-Regular-webfont.woff2') format('woff2'),
         url('fonts/andes/Andes-Regular-webfont.woff') format('woff'),
         url('fonts/andes/Andes-Regular-webfont.ttf') format('truetype'),
         url('fonts/andes/Andes-Regular-webfont.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Andes';
    src: url('fonts/andes/Andes-Medium-webfont.eot');
    src: url('fonts/andes/Andes-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/andes/Andes-Medium-webfont.woff2') format('woff2'),
         url('fonts/andes/Andes-Medium-webfont.woff') format('woff'),
         url('fonts/andes/Andes-Medium-webfont.ttf') format('truetype'),
         url('fonts/andes/Andes-Medium-webfont.svg') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Andes';
    src: url('fonts/andes/Andes-SemiBold-webfont.eot');
    src: url('fonts/andes/Andes-SemiBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/andes/Andes-SemiBold-webfont.woff2') format('woff2'),
         url('fonts/andes/Andes-SemiBold-webfont.woff') format('woff'),
         url('fonts/andes/Andes-SemiBold-webfont.ttf') format('truetype'),
         url('fonts/andes/Andes-SemiBold-webfont.svg') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Andes';
    src: url('fonts/andes/Andes-Bold-webfont.eot');
    src: url('fonts/andes/Andes-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/andes/Andes-Bold-webfont.woff2') format('woff2'),
         url('fonts/andes/Andes-Bold-webfont.woff') format('woff'),
         url('fonts/andes/Andes-Bold-webfont.ttf') format('truetype'),
         url('fonts/andes/Andes-Bold-webfont.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Andes';
    src: url('fonts/andes/Andes-ExtraBold-webfont.eot');
    src: url('fonts/andes/Andes-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/andes/Andes-ExtraBold-webfont.woff2') format('woff2'),
         url('fonts/andes/Andes-ExtraBold-webfont.woff') format('woff'),
         url('fonts/andes/Andes-ExtraBold-webfont.ttf') format('truetype'),
         url('fonts/andes/Andes-ExtraBold-webfont.svg') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Andes';
    src: url('fonts/andes/Andes-Black-webfont.eot');
    src: url('fonts/andes/Andes-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/andes/Andes-Black-webfont.woff2') format('woff2'),
         url('fonts/andes/Andes-Black-webfont.woff') format('woff'),
         url('fonts/andes/Andes-Black-webfont.ttf') format('truetype'),
         url('fonts/andes/Andes-Black-webfont.svg') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Andes-book';
    src: url('fonts/andes/Andes-Book-webfont.eot');
    src: url('fonts/andes/Andes-Book-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/andes/Andes-Book-webfont.woff2') format('woff2'),
         url('fonts/andes/Andes-Book-webfont.woff') format('woff'),
         url('fonts/andes/Andes-Book-webfont.ttf') format('truetype'),
         url('fonts/andes/Andes-Book-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
