/* BoosterNextFY */

@font-face {
    font-family: 'BoosterNextFY';
    src: url('fonts/booster-next/Black/BoosterNextFY-Black.eot');
    src: url('fonts/booster-next/Black/BoosterNextFY-Black.eot?#iefix') format('embedded-opentype'),
         url('fonts/booster-next/Black/BoosterNextFY-Black.woff') format('woff'),
         url('fonts/booster-next/Black/BoosterNextFY-Black.ttf') format('truetype'),
         url('fonts/booster-next/Black/BoosterNextFY-Black.svg#Booster Next FY Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'BoosterNextFY';
    src: url('fonts/booster-next/Bold/BoosterNextFY-Bold.eot');
    src: url('fonts/booster-next/Bold/BoosterNextFY-Bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/booster-next/Bold/BoosterNextFY-Bold.woff') format('woff'),
         url('fonts/booster-next/Bold/BoosterNextFY-Bold.ttf') format('truetype'),
         url('fonts/booster-next/Bold/BoosterNextFY-Bold.svg#Booster Next FY Bold') format('svg');
    font-weight: bold; // 700
    font-style: normal;
}

@font-face {
    font-family: 'BoosterNextFY';
    src: url('fonts/booster-next/Medium/BoosterNextFY-Medium.eot');
    src: url('fonts/booster-next/Medium/BoosterNextFY-Medium.eot?#iefix') format('embedded-opentype'),
         url('fonts/booster-next/Medium/BoosterNextFY-Medium.woff') format('woff'),
         url('fonts/booster-next/Medium/BoosterNextFY-Medium.ttf') format('truetype'),
         url('fonts/booster-next/Medium/BoosterNextFY-Medium.svg#Booster Next FY Medium') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'BoosterNextFY';
    src: url('fonts/booster-next/Regular/BoosterNextFY-Regular.eot');
    src: url('fonts/booster-next/Regular/BoosterNextFY-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/booster-next/Regular/BoosterNextFY-Regular.woff') format('woff'),
         url('fonts/booster-next/Regular/BoosterNextFY-Regular.ttf') format('truetype'),
         url('fonts/booster-next/Regular/BoosterNextFY-Regular.svg#Booster Next FY Regular') format('svg');
    font-weight: normal; // 400
    font-style: normal;
}

@font-face {
    font-family: 'BoosterNextFY';
    src: url('fonts/booster-next/Light/BoosterNextFY-Light.eot');
    src: url('fonts/booster-next/Light/BoosterNextFY-Light.eot?#iefix') format('embedded-opentype'),
         url('fonts/booster-next/Light/BoosterNextFY-Light.woff') format('woff'),
         url('fonts/booster-next/Light/BoosterNextFY-Light.ttf') format('truetype'),
         url('fonts/booster-next/Light/BoosterNextFY-Light.svg#Booster Next FY Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'BoosterNextFY';
    src: url('fonts/booster-next/Thin/BoosterNextFY-Thin.eot');
    src: url('fonts/booster-next/Thin/BoosterNextFY-Thin.eot?#iefix') format('embedded-opentype'),
         url('fonts/booster-next/Thin/BoosterNextFY-Thin.woff') format('woff'),
         url('fonts/booster-next/Thin/BoosterNextFY-Thin.ttf') format('truetype'),
         url('fonts/booster-next/Thin/BoosterNextFY-Thin.svg#Booster Next FY Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}
