/* Janda Elegant Handwriting */
@font-face {
    font-family: 'JandaElegantHandwriting';
    src: url('fonts/janda-elegant/jandaeleganthandwriting-webfont.woff') format('woff'),
         url('fonts/janda-elegant/JandaElegantHandwriting.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
