/* SUNN */
@font-face {
    font-family: 'SUNN';
    src: url('fonts/sunn/sunn-webfont.woff') format('woff'),
         url('fonts/sunn/SUNN.otf') format('opentype');
    font-weight: normal;
    font-style: normal;

}