/* Pillowbook */
@font-face {
    font-family: 'Pillowbook';
    src: url('fonts/pillowbook/pillowbook-regular/pillowbook-regular-webfont.eot');
    src: url('fonts/pillowbook/pillowbook-regular/pillowbook-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/pillowbook/pillowbook-regular/pillowbook-regular-webfont.woff') format('woff'),
         url('fonts/pillowbook/pillowbook-regular/pillowbook-regular-webfont.ttf') format('truetype'),
         url('fonts/pillowbook/pillowbook-regular/pillowbook-regular-webfont.svg#pillowbookregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PillowbookOrnaments';
    src: url('fonts/pillowbook/pillowbook-ornaments/pillowbook-ornaments-webfont.eot');
    src: url('fonts/pillowbook/pillowbook-ornaments/pillowbook-ornaments-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/pillowbook/pillowbook-ornaments/pillowbook-ornaments-webfont.woff') format('woff'),
         url('fonts/pillowbook/pillowbook-ornaments/pillowbook-ornaments-webfont.ttf') format('truetype'),
         url('fonts/pillowbook/pillowbook-ornaments/pillowbook-ornaments-webfont.svg#pillowbook_ornaments') format('svg');
    font-weight: normal;
    font-style: normal;

}
